/* Global Styles */
:root {
  --primary-color: #BEB5A9;
  --text-color: #f5f7fa;
  --bg-color: #D3D3D3;
  --card-color: #505052;
  --card-color1: #5F5B4B;
  --card-color2: #eeeada;
  --dark-bg: #181404;
  --dark-card: #505052;
  --dark-text: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

body.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}